$blue: #000055
$white: #ffffff
$magenta: #FF267E
$green: #05C48A
$black: #1B1B1F

$font-suisse-intl-reg: SuisseIntl-Regular, sans-serif
$font-suisse-intl-bold: SuisseIntl-Bold, sans-serif
$font-exo2-reg: Exo2-Regular, sans-serif
$font-exo2-semib: Exo2-SemiBold, sans-serif
$font-exo2-bold: Exo2-Bold, sans-serif
$font-exo2-ex-bold: Exo2-ExtraBold, sans-serif
$font-exo2-black: Exo2-Black, sans-serif

._title
  color: $white
  text-transform: uppercase
  font-family: $font-exo2-ex-bold
  font-size: 36px
  line-height: 36px
  border-left: 2px solid $magenta
  padding: 5px 0 8px 10px

._container
  min-width: 1040px
  max-width: 1040px

._btn-popup
  width: 16px
  height: 15px
  background: url("../img/popup-icon.png") no-repeat 0 0/contain
  transition: background .7s ease-in-out
  &:hover
    background: url("../img/popup-icon-hover.png") no-repeat 0 0/contain
    cursor: pointer

body.light
  background: $blue

body
  overscroll-behavior: none
  -webkit-tap-highlight-color: transparent
  background: $blue
  img
    max-width: 100%
    height: auto
  & > *
    font-family: inherit

.btn
  min-width: 260px
  width: fit-content
  height: 73px
  color: $blue
  font-family: $font-exo2-bold
  font-size: 21px
  line-height: 21px
  display: flex
  align-items: center
  justify-content: center
  background: url("../img/btn.png") no-repeat 0 0/cover
  background-size: 100% 100%
  text-transform: uppercase
  padding: 2px 5px 4px 5px
  transition: background .7s ease-in-out
  &:hover
    cursor: pointer
    background: url("../img/btn-hover.png") no-repeat 0 0/cover
    background-size: 100% 100%



.fav-page
  background: $blue
  display: flex
  flex-direction: column
  align-items: center
  overflow: hidden
  font-family: $font-exo2-reg

.welcome
  display: flex
  align-items: center
  justify-content: flex-end
  max-width: 1240px
  min-width: 1240px
  padding: 45px 100px 30px 0
  background: url("../img/welcome/bg-desc.jpg") no-repeat 0 0/cover
  position: relative
  overflow: hidden
  &__right
    display: flex
    flex-direction: column
    align-items: flex-start
    max-width: 410px
    width: 100%
    z-index: 2
  &__title
    max-width: 300px
  &__prize
    display: flex
    flex-direction: column
    align-items: flex-start
    width: 100%
    margin: 20px 0
    padding: 20px 0
    background: url("../img/welcome/right-decor.png") no-repeat 0 0/contain
    &-item
      &:nth-child(1)
        font-family: $font-exo2-semib
        font-size: 17px
        color: $magenta
      &:nth-child(2)
        font-family: $font-exo2-black
        font-size: 64px
        color: $magenta
        display: flex
        align-items: center
        &::after
          content: ""
          display: block
          width: .55em
          height: .78em
          background: url("../img/money-icon.png") no-repeat 0 0/contain
          margin: 7px 0 0 10px

      &:nth-child(3)
        font-family: $font-exo2-reg
        font-size: 17px
        color: $white
        max-width: 300px
  &__pers
    position: absolute
    left: 0
    bottom: -12px
    max-width: 915px
    min-width: 915px
    height: 410px
    z-index: 1

.race
  padding-top: 25px
  position: relative
  &__slider
    width: 100%
    height: 100%
  &__item
    display: flex
    align-items: center
    padding-top: 26px
    background: url("../img/race/slide-decor.png") no-repeat 0 0/cover
    background-size: 100% 100%
    &-wrap
      display: flex
      flex-direction: column
      align-items: flex-start
      align-self: flex-start
  &__text
    color: $white
    text-transform: uppercase
    font-family: $font-exo2-ex-bold
    font-size: 17px
    margin-bottom: 12px
  &__country
    margin-bottom: 12px
  &__date
    color: $blue
    text-transform: uppercase
    font-family: $font-exo2-black
    font-size: 17px
    background: $white
    padding: 1px 2px 2px 2px
    margin-bottom: 14px
  &__prize
    display: flex
    flex-direction: column
    align-items: flex-start
    padding: 4px 30px 0 0
    background: url("../img/race/prize-decor.png") no-repeat 0 0/cover
    background-size: 100% 95%
    &-amount
      color: $magenta
      font-family: $font-exo2-ex-bold
      font-size: 28px
      text-transform: uppercase
      display: flex
      align-items: center
      margin-bottom: 4px
      &::after
        content: ""
        display: block
        width: .55em
        height: .78em
        background: url("../img/money-icon.png") no-repeat 0 0/contain
        margin: 3px 0 0 5px
    &-fond
      color: $magenta
      text-transform: uppercase
      font-family: $font-exo2-semib
      font-size: 17px
      letter-spacing: 0
  &__bolid
    min-width: 620px
    max-width: 620px
    height: 400px
    position: relative
    pointer-events: none
    &-car
      min-width: 100%
      max-width: 100%
      position: absolute
      z-index: 2
      left: 50%
      top: 50%
      transform: translate(-50%, -50%)
    &-map
      min-width: 110%
      max-width: 110%
      position: absolute
      z-index: 1
      left: 49%
      top: 38%
      transform: translate(-50%, -50%)
  &__nav
    position: absolute
    left: 0
    bottom: 110px
    display: flex
    align-items: center
    &-left, &-right
      width: 44px
      height: 35px
      background: url("../img/race/slider-arrow.png") no-repeat 0 0/contain
      transition: background .7s ease-in-out
      &:hover
        cursor: pointer
        background: url("../img/race/slider-arrow-hover.png") no-repeat 0 0/contain
    &-left
      transform: scale(-1, 1)
    &-right
      margin-left: 12px
    &-counter
      color: $white
      font-size: 17px
      font-family: $font-exo2-semib
      margin-left: 25px

.bet
  display: flex
  flex-direction: column
  align-items: center
  &._racer
    .bet__item._racer
      display: flex
  &._map
    .bet__item._map
      display: flex
  &._team
    .bet__item._team
      display: flex
  &._margin-top
    margin-top: -70px
  &__item
    display: none
    //display: flex
    flex-direction: column
    width: 100%
  &__text
    color: $white
    font-size: 17px
    text-transform: uppercase
    font-family: $font-exo2-reg
    margin-bottom: 3px
    display: flex
    align-items: center
    padding-right: 20px
    &::after
      content: ""
      display: block
      width: 100%
      height: 1px
      background: $white
      margin-left: 10px
      background: linear-gradient(to left, rgba($white, 1), rgba($white, 0.1))
  &__your
    &-wrap
      display: flex
      align-items: center
      justify-content: space-between
      margin-top: 5px
      padding-right: 20px
    &-item
      color: $white
      text-align: right
      font-size: 10px
  &__btn
    display: flex
    align-items: center
    gap: 8px
    &-item
      color: $white
      font-family: $font-exo2-reg
      font-size: 14px
      text-transform: uppercase
      &:nth-child(2)
        position: relative
        opacity: .8
        bottom: 2px
        &::before
          content: ""
          display: block
          width: 100%
          height: 1px
          background: $white
          position: absolute
          left: 50%
          bottom: -1px
          transform: translate(-50%, 0)
  &__wrap
    display: flex
    align-items: center
    justify-content: space-between
    margin-top: 16px
  &__column
    width: 50%
    max-width: 510px
    display: flex
    flex-direction: column
    background: $white
    border-radius: 8px
    padding: 6px 0
    &-item
      display: flex
      align-items: center
      height: 45px
      &:nth-child(odd)
        background: rgba(197, 179, 175, 0.30)
    &-place
      width: 35px
      height: 100%
      display: flex
      align-items: center
      justify-content: center
      background: rgba(#C5B3AF, .28)
      font-family: $font-exo2-black
      font-size: 14px
      color: $blue
    &-flag
      margin: 0 0 0 12px
    &-name
      display: flex
      flex-direction: column
      align-items: flex-start
      justify-content: center
      margin: 0 0 0 12px
      &-item
        color: $blue
        &:nth-child(1)
          font-family: $font-exo2-semib
          font-size: 17px
        &:nth-child(2)
          font-size: 14px
          font-family: $font-exo2-reg
          opacity: .5
    &-btn
      margin: 0 18px 0 auto
      color: $blue
      font-size: 14px
      font-family: $font-exo2-bold
      padding: 6px
      background: $green
      border-radius: 2px
      transition: background .7s ease-in-out
      text-transform: uppercase
      &:hover
        cursor: pointer
        background: #00EDA5


.confirm
  display: flex
  flex-direction: column
  align-items: center
  position: relative
  &::before
    content: ""
    display: block
    width: 100%
    height: 250px
    background: url("../img/confirm/grid-desc.png") no-repeat 0 0/contain
    position: absolute
    z-index: 0
    top: 47%
    left: 0
    transform: translate(0, -50%)
  &__prediction
    width: 555px
    height: 310px
    background: url("../img/confirm/confirm-no.png") no-repeat 0 0/contain
    display: flex
    flex-direction: column
    align-items: center
    padding: 95px 0 0 0
    z-index: 1
    &-no, &-yes
      font-size: 24px
      text-transform: uppercase
      font-family: $font-exo2-ex-bold
    &-no
      display: block
      color: $magenta
    &-yes
      display: none
      color: $green
    &._betConfirmed
      background: url("../img/confirm/confirm-yes.png") no-repeat 0 0/contain
      .confirm
        &__prediction
          &-no
            display: none
          &-yes
            display: block
  &__upd
    display: flex
    align-items: center
    margin-top: 10px
    &-btn
      width: 22px
      height: 22px
    &-text
      display: flex
      align-items: center
      margin-left: 10px
      gap: 4px
      &-item
        color: $white
        font-size: 14px
        font-family: $font-exo2-reg
        opacity: .8
  &__timer
    display: flex
    align-items: center
    justify-content: center
    max-width: 515px
    min-width: 515px
    max-height: 85px
    background: linear-gradient(180deg, rgba($white, .3) 0%, rgba(255, 255, 255, 0) 100%)
    padding-left: 20px
    border-radius: 8px
    position: relative
    &::before
      position: absolute
      z-index: 0
      pointer-events: none
      left: 1px
      top: 1px
      content: ""
      display: block
      width: calc(100% - 2px)
      height: calc(100% - 2px)
      background: #000094
      border-radius: inherit
    .timer
      display: flex
      align-items: center
      z-index: 2
      &__hours, &__minutes, &__days
        display: flex
        flex-wrap: wrap
        max-width: 70px
        justify-content: center
        border-right: 1px solid rgba($white, .2)
        &-item
          max-width: 50%
          text-align: center
          color: $white
          font-size: 24px
          font-family: $font-exo2-black
        &-text
          width: 100%
          text-align: center
          opacity: .5
          color: $white
          font-size: 12px
          font-family: $font-exo2-reg
          text-transform: uppercase
      &__minutes
        border: none
    &-title
      color: $white
      font-size: 17px
      font-family: $font-exo2-ex-bold
      text-transform: uppercase
      max-width: 180px
      z-index: 2
  &__anim
    min-width: 128px
    max-width: 128px
    min-height: 128px
    max-height: 128px
    align-self: flex-end
    z-index: 2
    position: relative
    &-arrow, &-body
      width: 100%
      height: 100%
      position: absolute
      left: 0
      top: 0
    &-body
      background: url("../img/confirm/speedometer.png") no-repeat 0 0/contain
    &-arrow
      background: url("../img/confirm/arrow-speedometer.png") no-repeat 0 0/contain
      z-index: 2
  &__btn
    margin-top: 20px

.results
  position: relative
  display: flex
  flex-direction: column
  align-items: flex-start
  padding-top: 65px
  &::before
    content: ""
    display: block
    top: 45px
    left: 0
    width: 100%
    height: 420px
    background: url("../img/results/results-decor-desc.png") no-repeat 0 0/cover
    background-size: 100% 100%
    position: absolute
  &__first, &__second, &__third
    display: flex
    flex-direction: column
    align-items: center
  &__first
    max-width: 172px
    z-index: 3
    margin: 0 -16px 80px -43px
    position: relative
    .results
      &__top
        &-decor
          left: 53.5%
          top: -10px
        &-wrap
          top: -25px
          left: 5px
  &__second
    max-width: 183px
    z-index: 2
    margin: 0 -10px 20px 10px
    position: relative
    .results
      &__top
        &-decor
          top: 12px
          left: 51%
        &-wrap
          top: 7px
  &__third
    max-width: 142px
    z-index: 2
    position: relative
    .results
      &__top
        &-decor
          top: -6px
          left: 49%
        &-wrap
          top: -10px

  &__top
    position: absolute
    right: 65px
    top: 95px
    display: flex
    align-items: center
    &-place, &-info
      position: relative
      z-index: 2
    &-place
      width: 30px
      display: flex
      align-items: center
      justify-content: center
      color: $white
      font-family: $font-exo2-black
      font-size: 20px
      border-right: 1px solid rgba($white, .3)
      height: calc(100% - 2px)
      margin-right: 7px
      padding-left: 1px
    &-info
      display: flex
      flex-direction: column
      color: $white
      &-id, &-points
        font-size: 12px
        text-transform: uppercase
      &-id
        opacity: .5
      &-points
        font-family: $font-exo2-bold
    &-decor
      height: 300px
      width: 49px
      background: linear-gradient(180deg, #0000A7 0%, rgba(0, 0, 167, 0.00) 100%)
      opacity: .7
      position: absolute
      left: 50%
      top: 0
      transform: translate(-50%, 0)
      z-index: 0
      border-radius: 4px
      display: flex
      justify-content: center
      color: $blue
      font-size: 44px
      font-family: $font-exo2-black
    &-pers
      position: relative
      z-index: 1
    &-wrap
      z-index: 2
      position: relative
      align-self: center
      transform: translate(0, -100%)
      width: 140px
      height: 40px
      border-radius: 5px
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%)
      display: flex
      align-items: center
      &::before
        content: ""
        display: block
        width: calc(100% - 2px)
        height: calc(100% - 2px)
        position: absolute
        left: 1px
        top: 1px
        z-index: 0
        border-radius: inherit
        background: #000094
  &__podium
    position: absolute
    bottom: 0
    left: 0
    width: 468px
    height: 107px
    z-index: 0
    background: url("../img/results/podium-desc.png") no-repeat 0 0/contain
    @media screen and (max-width: 1050px)
      background: url("../img/results/podium-mob.png") no-repeat 0 0/contain
  &__subtitle
    max-width: 375px
    color: $white
    font-size: 17px
    font-family: $font-exo2-reg
    margin-top: 19px
  &__popup
    display: flex
    align-items: center
    gap: 8px
    margin-top: 16px
    &-text
      color: $white
      font-family: $font-exo2-reg
      font-size: 14px
      text-transform: uppercase
      &:nth-child(2)
        position: relative
        opacity: .8
        bottom: 2px
        &::before
          content: ""
          display: block
          width: 100%
          height: 1px
          background: $white
          position: absolute
          left: 50%
          bottom: -1px
          transform: translate(-50%, 0)
  &__prize
    display: flex
    flex-direction: column
    align-items: flex-start
    padding: 10px 17px 5px 0
    background: url("../img/results/prize-decor.png") no-repeat 0 0/cover
    background-size: 100% 100%
    margin-top: 20px
    &-amount
      color: $magenta
      font-family: $font-exo2-ex-bold
      font-size: 20px
      text-transform: uppercase
      display: flex
      align-items: center
      margin-bottom: 4px
      &::after
        content: ""
        display: block
        width: .55em
        height: .78em
        background: url("../img/money-icon.png") no-repeat 0 0/contain
        margin: 3px 0 0 5px
    &-fond
      color: $magenta
      text-transform: uppercase
      font-family: $font-exo2-semib
      font-size: 11px
      letter-spacing: 0
  &__you
    margin-top: 23px
    display: flex
    align-items: center
    background: $magenta
    border-radius: 8px
    color: $white
    text-transform: uppercase
    padding: 0 0 0 15px
    max-height: 65px
    &-place
      font-size: 37px
      font-family: $font-exo2-ex-bold
      margin-right: 7px
    &-text
      font-size: 12px
      line-height: 14px
      max-width: 40px
      margin-right: 5px
    &-info
      display: flex
      align-items: flex-start
      flex-direction: column
      padding-left: 6px
      border-left: 1px solid rgba($white, .2)
      &-id
        font-size: 12px
      &-points
        font-family: $font-exo2-ex-bold
        font-size: 12px
    &-pers
      max-width: 118px
      align-self: flex-end
      margin: 0 -18px -3px 0
  &__btn
    margin-top: 20px
  &__bottom
    max-width: 352px
    color: $white
    font-size: 10px
    opacity: .7
    margin-top: 11px
