$blue: #000055
$white: #ffffff
$magenta: #FF267E
$green: #05C48A
$black: #1B1B1F
$grey: #AEAEAE

$font-suisse-intl-reg: SuisseIntl-Regular, sans-serif
$font-suisse-intl-bold: SuisseIntl-Bold, sans-serif
$font-exo2-reg: Exo2-Regular, sans-serif
$font-exo2-semib: Exo2-SemiBold, sans-serif
$font-exo2-bold: Exo2-Bold, sans-serif
$font-exo2-ex-bold: Exo2-ExtraBold, sans-serif
$font-exo2-black: Exo2-Black, sans-serif

._opacity
  opacity: 0 !important
  transition: opacity 2s ease-in-out
//  scale: 1.5

._title
  color: $white
  text-transform: uppercase
  font-family: $font-exo2-ex-bold
  font-size: 36px
  line-height: 36px
  border-left: 2px solid $magenta
  padding: 5px 0 8px 10px

._container
  min-width: 1040px
  max-width: 1040px

._btn-popup
  width: 16px
  height: 15px
  background: url("../img/popup-icon.png") no-repeat 0 0/contain
  transition: background .7s ease-in-out
  &:hover
    background: url("../img/popup-icon-hover.png") no-repeat 0 0/contain
    cursor: pointer

body.light
  background: $blue

picture.light
  display: block

picture.dark
  display: none

body
  overscroll-behavior: none
  -webkit-tap-highlight-color: transparent
  background: $blue
  img
    max-width: 100%
    height: auto
  & > *
    font-family: inherit

.btn
  min-width: 260px
  width: fit-content
  height: 73px
  color: $blue
  font-family: $font-exo2-bold
  font-size: 21px
  line-height: 21px
  display: flex
  align-items: center
  justify-content: center
  background: url("../img/btn.png") no-repeat 0 0/cover
  background-size: 100% 100%
  text-transform: uppercase
  padding: 2px 5px 4px 5px
  transition: background .7s ease-in-out
  &:hover
    cursor: pointer
    background: url("../img/btn-hover.png") no-repeat 0 0/cover
    background-size: 100% 100%



.fav-page
  background: $blue
  display: flex
  flex-direction: column
  align-items: center
  overflow: hidden
  font-family: $font-exo2-reg

.welcome
  display: flex
  align-items: center
  justify-content: flex-end
  max-width: 1240px
  min-width: 1240px
  padding: 45px 100px 30px 0
  background: url("../img/welcome/bg-desc.jpg") no-repeat 0 0/cover
  position: relative
  overflow: hidden
  &__btn
    animation: welcomeBtn 1.2s ease-in-out
  &__right
    display: flex
    flex-direction: column
    align-items: flex-start
    max-width: 410px
    width: 100%
    z-index: 2
  &__title
    max-width: 300px
    animation: welcomeTitle .5s ease-in-out
  &__prize
    display: flex
    flex-direction: column
    align-items: flex-start
    width: 100%
    margin: 20px 0
    padding: 20px 0
    background: url("../img/welcome/right-decor.png") no-repeat 0 0/contain

    &-item
      animation: welcomeTitle .9s ease-in-out
      &:nth-child(1)
        font-family: $font-exo2-semib
        font-size: 17px
        color: $magenta
      &:nth-child(2)
        font-family: $font-exo2-black
        font-size: 64px
        color: $magenta
        display: flex
        align-items: center
        &::after
          content: ""
          display: block
          width: .55em
          height: .78em
          background: url("../img/money-icon.png") no-repeat 0 0/contain
          margin: 7px 0 0 10px

      &:nth-child(3)
        font-family: $font-exo2-reg
        font-size: 17px
        color: $white
        max-width: 300px
  &__pers
    position: absolute
    left: 0
    bottom: -12px
    max-width: 915px
    min-width: 915px
    height: 410px
    z-index: 1
    &-decor
      position: absolute
      z-index: 4
      &._top
        width: 100px
        height: 100px
        //background: $white
        top: 80px
        left: 30px
        .welcome
          &__pers
            &-decor
              &-item
                position: absolute
                &:nth-child(1)
                  width: 15px
                  height: 12px
                  left: 20px
                  top: 25px
                  background: url("../img/welcome/top-decor/decor1.png") no-repeat 0 0/contain
                  animation: shake .3s linear infinite
                &:nth-child(2)
                  width: 27px
                  height: 19px
                  background: url("../img/welcome/top-decor/decor2.png") no-repeat 0 0/contain
                  bottom: 0
                  animation: shake .4s linear infinite
                &:nth-child(3)
                  width: 18px
                  height: 14px
                  background: url("../img/welcome/top-decor/decor3.png") no-repeat 0 0/contain
                  bottom: -2px
                  left: 40px
                  animation: shake .2s linear infinite
                &:nth-child(4)
                  width: 21px
                  height: 21px
                  right: 18px
                  bottom: 26px
                  background: url("../img/welcome/top-decor/decor4.png") no-repeat 0 0/contain
                  animation: shake .3s linear infinite
                &:nth-child(5)
                  right: 0
                  bottom: 40px
                  width: 11px
                  height: 10px
                  background: url("../img/welcome/top-decor/decor5.png") no-repeat 0 0/contain
                  animation: shake .4s linear infinite
                &:nth-child(6)
                  width: 22px
                  height: 14px
                  right: 10px
                  top: 14px
                  background: url("../img/welcome/top-decor/decor6.png") no-repeat 0 0/contain
                  animation: shake .3s linear infinite
      &._bottom
        width: 50px
        height: 50px
        //background: $white
        bottom: 110px
        left: 180px
        .welcome
          &__pers
            &-decor
              &-item
                position: absolute
                &:nth-child(1)
                  width: 22px
                  height: 14px
                  left: 0px
                  top: 0px
                  background: url("../img/welcome/top-decor/decor6.png") no-repeat 0 0/contain
                  animation: shake .3s linear infinite
                &:nth-child(2)
                  width: 18px
                  height: 14px
                  background: url("../img/welcome/top-decor/decor5.png") no-repeat 0 0/contain
                  top: 10px
                  left: 15px
                  animation: shake .4s linear infinite
                &:nth-child(3)
                  width: 18px
                  height: 14px
                  background: url("../img/welcome/top-decor/decor4.png") no-repeat 0 0/contain
                  bottom: 8px
                  left: 33px
                  animation: shake .2s linear infinite
                &:nth-child(4)
                  width: 11px
                  height: 9px
                  right: 3px
                  bottom: 36px
                  background: url("../img/welcome/top-decor/decor1.png") no-repeat 0 0/contain
                  animation: shake .3s linear infinite
    &-wheel
      position: absolute
      width: 75px
      height: 125px
      bottom: 105px
      left: 243px
      z-index: 3
      animation: spinWheel 1s linear infinite
    &-img
      z-index: 2
      position: relative
      &::before
        content: ""
        position: absolute
        display: block
        width: 22px
        height: 29px
        background: url("../img/welcome/wheel/wheel-front.png") no-repeat 0 0/contain
        z-index: 2
        bottom: 203px
        left: 316px
        animation: wheelAnim .5s linear infinite
      &::after
        content: ""
        position: absolute
        display: block
        width: 12px
        height: 24px
        background: url("../img/welcome/wheel/wheel-back.png") no-repeat 0 0/contain
        z-index: 2
        bottom: 200px
        left: 116px
        animation: wheelAnim .5s linear infinite
    &-smoke
      position: absolute
      width: 100%
      height: 100%
      left: 0
      top: 0
      &-front
        width: 300px
        height: 120px
        position: absolute
        bottom: 106px
        left: -20px
        z-index: 3
        background: url("../img/welcome/smoke-front.png") no-repeat 0 0/contain
        .front-before, .front-after
          content: ""
          display: block
          position: absolute
          width: 100%
          height: 100%
          background: url("../img/welcome/smoke-front.png") no-repeat 0 0/contain
          transform-origin: right bottom
        .front-before
          z-index: 2
          transform-origin: right bottom
          animation: smokeRaceAnim 2s linear
        .front-after
          z-index: 1
      &-back
        width: 245px
        height: 245px
        position: absolute
        bottom: 176px
        left: 20px
        //background: url("../img/welcome/smoke-back.png") no-repeat 0 0/contain
        z-index: 1
        .front-before, .front-after
          content: ""
          display: block
          position: absolute
          width: 100%
          height: 100%
          background: url("../img/welcome/smoke-back.png") no-repeat 0 0/contain
          transform-origin: right bottom
        .front-before
          z-index: 3
          transform-origin: right bottom
          animation: smokeRaceAnim 2s linear
        .front-after
          z-index: 1


.race
  padding-top: 25px
  position: relative
  &__slider
    width: 100%
    height: 100%
    pointer-events: none
  &__item
    display: flex
    align-items: center
    padding-top: 26px
    background: url("../img/race/slide-decor.png") no-repeat 0 0/cover
    background-size: 100% 100%
    position: absolute
    left: 0
    top: 25px
    opacity: 0
    width: 100%
    @media screen and (max-width: 1050px)
      background: url("../img/race/slide-decor-tab.png") no-repeat 0 0/cover
      background-size: 100% 100%
    @media screen and (max-width: 600px)
      background: url("../img/race/slide-decor-mob.png") no-repeat 0 0/cover
      background-size: 100% 100%
    &._lock
      .race
        &__bolid
          &-car
            display: none
          &-lock
            display: flex
    &._done
      .race
        &__bolid
          &-car
            display: none
          &-done
            display: flex
    &._active
      position: relative
      opacity: 1
      top: 0
      transition: opacity 1s ease-in-out
      //.race
      //  &__item
      //    &-wrap

    &-wrap
      display: flex
      flex-direction: column
      align-items: flex-start
      align-self: flex-start
      z-index: 3
      position: relative
  &__text
    color: $white
    text-transform: uppercase
    font-family: $font-exo2-ex-bold
    font-size: 17px
    margin-bottom: 12px
  &__country
    margin-bottom: 12px
    white-space: nowrap
  &__date
    color: $blue
    text-transform: uppercase
    font-family: $font-exo2-black
    font-size: 17px
    background: $white
    padding: 1px 2px 2px 2px
    margin-bottom: 14px
  &__prize
    display: flex
    flex-direction: column
    align-items: flex-start
    padding: 4px 30px 0 0
    background: url("../img/race/prize-decor.png") no-repeat 0 0/cover
    background-size: 100% 95%
    &-amount
      color: $magenta
      font-family: $font-exo2-ex-bold
      font-size: 28px
      text-transform: uppercase
      display: flex
      align-items: center
      margin-bottom: 4px
      &::after
        content: ""
        display: block
        width: .55em
        height: .78em
        background: url("../img/money-icon.png") no-repeat 0 0/contain
        margin: 3px 0 0 5px
    &-fond
      color: $magenta
      text-transform: uppercase
      font-family: $font-exo2-semib
      font-size: 17px
      letter-spacing: 0
  &__bolid
    min-width: 620px
    max-width: 620px
    height: 400px
    position: relative
    pointer-events: none
    margin: 0 80px 0 auto
    &-decor
      position: absolute
      z-index: 5
      &._bottom
        width: 50px
        height: 50px
        //background: $white
        bottom: 120px
        right: 10px
        .race
          &__bolid
            &-decor
              &-item
                position: absolute
                &:nth-child(1)
                  width: 22px
                  height: 14px
                  left: 0px
                  top: 0px
                  background: url("../img/welcome/top-decor/decor6.png") no-repeat 0 0/contain
                  animation: shake .3s linear infinite
                &:nth-child(2)
                  width: 18px
                  height: 14px
                  background: url("../img/welcome/top-decor/decor5.png") no-repeat 0 0/contain
                  top: 10px
                  left: 15px
                  animation: shake .4s linear infinite
                &:nth-child(3)
                  width: 18px
                  height: 14px
                  background: url("../img/welcome/top-decor/decor4.png") no-repeat 0 0/contain
                  bottom: 8px
                  left: 33px
                  animation: shake .2s linear infinite
                &:nth-child(4)
                  width: 11px
                  height: 9px
                  right: 3px
                  bottom: 36px
                  background: url("../img/welcome/top-decor/decor1.png") no-repeat 0 0/contain
                  animation: shake .3s linear infinite
    &-winer
      display: flex
      align-items: center
      margin-top: 3px
      padding: 0 3px
    &-done, &-lock
      display: none
      //display: flex
      flex-direction: column
      align-items: center
      z-index: 3
      position: relative
      margin: 0 auto
      max-width: 400px
      top: 40px
      & > *
        color: $blue
        background: $white
        text-transform: uppercase
        font-family: $font-exo2-black
        font-size: 22px
        padding: 5px 3px
        white-space: nowrap
      &-img
        padding: 0
        display: block
        width: 280px
        background: transparent
        margin-bottom: -40px
    &._arrive
      .race__bolid-car
        transform: translate(300%, -50%)
      //.race__bolid-smoke
      //  &-front, &-back
      //    display: none
    &._move
      .race__bolid-car
        transform: translate(-300%, -50%)
      //.race__bolid-smoke
      //  &-front, &-back
      //    display: none
      .race__bolid-map
        opacity: 0
        transition: opacity 1s ease
    &-smoke
      &-front, &-back
        position: absolute
        //transition: opacity 1.2s ease-out, transform 1.5s ease-out
        //animation: bolidFrontSmoke 2s infinite
      &-front
        width: 182px
        height: 32px
        background: url("../img/race/front-smoke.png") no-repeat 0 0/contain
        top: 95px
        left: 120px
        z-index: 3
        transform-origin: left bottom
        animation: smokeRaceAnim 2s linear
      &-back
        width: 171px
        height: 40px
        background: url("../img/race/back-smoke-small.png") no-repeat 0 0/contain
        z-index: 3
        right: -55px
        top: 90px
        transform-origin: left bottom
        animation: smokeRaceAnim 2s linear
        opacity: 0
        &._large
          width: 268px
          height: 116px
          z-index: 0
          background: url("../img/race/back-smoke-large.png") no-repeat 0 0/contain
          top: 0
          right: -65px
    &-wheel
      &-front, &-back
        position: absolute
        width: 48px
        height: 45px
        z-index: 2
        animation: rotate360 .2s linear infinite
      &-front
        background: url("../img/race/front-wheel.png") no-repeat 0 0/contain
        bottom: 140px
        left: 100px
      &-back
        background: url("../img/race/back-wheel.png") no-repeat 0 0/contain
        bottom: 138px
        left: 507px

    &-car
      min-width: 100%
      max-width: 100%
      position: absolute
      z-index: 2
      left: 50%
      top: 50%
      transform: translate(-50%, -50%)
      transition: all  1.5s  ease-out
      picture
        z-index: 2
        position: relative
    &-map
      min-width: 110%
      max-width: 110%
      position: absolute
      z-index: 1
      left: 49%
      top: 38%
      transform: translate(-50%, -50%)
  &__nav
    position: absolute
    left: 0
    bottom: 110px
    display: flex
    align-items: center
    &-left, &-right
      width: 44px
      height: 35px
      background: url("../img/race/slider-arrow.png") no-repeat 0 0/contain
      transition: background .7s ease-in-out
      &:hover
        cursor: pointer
        background: url("../img/race/slider-arrow-hover.png") no-repeat 0 0/contain
    &-left
      transform: scale(-1, 1)
    &-right
      margin-left: 12px
    &-counter
      color: $white
      font-size: 17px
      font-family: $font-exo2-semib
      margin-left: 25px

.bet
  display: flex
  flex-direction: column
  align-items: center
  &._racer
    .bet__item._racer
      display: flex
  &._map
    .bet__item._map
      display: flex
  &._team
    .bet__item._team
      display: flex
  &._margin-top
    margin-top: -70px
  &__item
    display: none
    //display: flex
    flex-direction: column
    width: 100%
    &._done
      .bet
        &__table
          display: block
        &__wrap
          display: none
    &._lock
      .bet
        &__column
          pointer-events: none
          &-btn
            background: $grey
            color: rgba($blue, .2)

  &__text
    color: $white
    font-size: 17px
    text-transform: uppercase
    font-family: $font-exo2-reg
    margin-bottom: 3px
    display: flex
    align-items: center
    padding-right: 20px
    &::after
      content: ""
      display: block
      width: 100%
      height: 1px
      background: $white
      margin-left: 10px
      background: linear-gradient(to left, rgba($white, 1), rgba($white, 0.1))
  &__your
    opacity: .7
    &-wrap
      display: flex
      align-items: center
      justify-content: space-between
      margin-top: 5px
      padding-right: 20px
    &-item
      color: $white
      text-align: right
      font-size: 10px
  &__btn
    display: flex
    align-items: center
    gap: 8px
    &-item
      color: $white
      font-family: $font-exo2-reg
      font-size: 14px
      text-transform: uppercase
      &:nth-child(2)
        position: relative
        opacity: .8
        bottom: 2px
        &::before
          content: ""
          display: block
          width: 100%
          height: 1px
          background: $white
          position: absolute
          left: 50%
          bottom: -1px
          transform: translate(-50%, 0)
  &__wrap
    display: flex
    align-items: center
    justify-content: space-between
    margin-top: 16px
  &__column
    width: 50%
    max-width: 510px
    display: flex
    flex-direction: column
    background: $white url("../img/bet/dots-bg.png") repeat 0 0/cover
    border-radius: 8px
    padding: 6px 0
    &-item, &-header
      display: flex
      align-items: center
      height: 45px
      &:nth-child(odd)
        background: rgba(197, 179, 175, 0.30)
      &.you
        .bet
          &__column
            &-btn
              display: none
            &-you
              display: flex
              align-items: center
    &-place
      width: 35px
      height: 100%
      display: flex
      align-items: center
      justify-content: center
      background: rgba(#C5B3AF, .28)
      font-family: $font-exo2-black
      font-size: 14px
      color: $blue
      position: relative
      &::before
        content: ""
        position: absolute
        right: -2px
        width: 4px
        height: 4px
        background: url("../img/bet/plus.png") no-repeat 0 0/contain
        bottom: -2px
    &-flag
      margin: 0 0 0 12px
    &-name
      display: flex
      flex-direction: column
      align-items: flex-start
      justify-content: center
      margin: 0 0 0 12px
      &-item
        color: $blue
        &:nth-child(1)
          font-family: $font-exo2-semib
          font-size: 17px
        &:nth-child(2)
          font-size: 14px
          font-family: $font-exo2-reg
          opacity: .5
    &-btn
      margin: 0 18px 0 auto
      color: $blue
      font-size: 14px
      font-family: $font-exo2-bold
      padding: 6px
      background: $green
      border-radius: 2px
      transition: background .7s ease-in-out
      text-transform: uppercase
      position: relative
      &::before
        content: ""
        position: absolute
        left: -20px
        width: 4px
        height: 4px
        background: url("../img/bet/plus.png") no-repeat 0 0/contain
        bottom: -10px
      &:hover
        cursor: pointer
        background: #00EDA5
    &-you
      display: none
      margin: 0 35px 0 auto
      color: $blue
      font-size: 14px
      font-family: $font-exo2-semib
      text-transform: uppercase
      position: relative
      &::before
        content: ""
        display: block
        width: 22px
        height: 22px
        margin-right: 6px
        background: url("../img/done.png") no-repeat 0 0/contain

  &__table
    margin-top: 15px
    display: none
    .bet
      &__column
        width: 100%
        max-width: 100%
        &-header
          background: transparent
          height: 30px
          &-id, &-date, &-prize, &-predict
            display: flex
            align-items: center
            justify-content: center
            font-family: $font-exo2-semib
            color: rgba($blue, .5)
            font-size: 14px
            margin-right: auto
            text-align: center
            min-width: 150px
          &-id
            max-width: 100px
            height: 100%
            display: flex
            align-items: center
            padding: 0 6px
            min-width: 100px


        &-item
          height: 30px
          &:nth-child(even)
            background: rgba(197, 179, 175, 0.30)
        &-id, &-date, &-prize, &-predict
          font-family: $font-exo2-semib
          color: $blue
          font-size: 14px
          margin-right: auto
          text-align: center
          display: flex
          align-items: center
          justify-content: center
          min-width: 150px
        &-id
          max-width: 100px
          min-width: 100px
          background: #C5B3AF
          color: $blue
          font-family: $font-exo2-semib
          font-size: 14px
          height: 100%
          display: flex
          align-items: center
          padding: 0px 6px
        &-date
          color: rgba($blue, .5)



.confirm
  display: flex
  flex-direction: column
  align-items: center
  position: relative
  &::before
    content: ""
    display: block
    width: 100%
    height: 250px
    background: url("../img/confirm/grid-desc.png") no-repeat 0 0/contain
    position: absolute
    z-index: 0
    top: 47%
    left: 0
    transform: translate(0, -50%)
  &__prediction
    width: 555px
    height: 310px
    background: url("../img/confirm/confirm-no.png") no-repeat 0 0/contain
    display: flex
    flex-direction: column
    align-items: center
    padding: 95px 0 0 0
    z-index: 1
    &-no, &-yes
      font-size: 24px
      text-transform: uppercase
      font-family: $font-exo2-ex-bold
    &-no
      display: block
      color: $magenta
    &-yes
      display: none
      color: $green
    &._betConfirmed
      background: url("../img/confirm/confirm-yes.png") no-repeat 0 0/contain
      .confirm
        &__prediction
          &-no
            display: none
          &-yes
            display: block
  &__upd
    display: flex
    align-items: center
    margin-top: 10px
    &-btn
      width: 22px
      height: 22px
    &-text
      display: flex
      align-items: center
      margin-left: 10px
      gap: 4px
      &-item
        color: $white
        font-size: 14px
        font-family: $font-exo2-reg
        opacity: .8
  &__timer
    display: flex
    align-items: center
    justify-content: center
    max-width: 515px
    min-width: 515px
    max-height: 85px
    background: linear-gradient(180deg, rgba($white, .3) 0%, rgba(255, 255, 255, 0) 100%)
    padding-left: 20px
    border-radius: 8px
    position: relative
    &::before
      position: absolute
      z-index: 0
      pointer-events: none
      left: 1px
      top: 1px
      content: ""
      display: block
      width: calc(100% - 2px)
      height: calc(100% - 2px)
      background: #000094
      border-radius: inherit
    .timer
      display: flex
      align-items: center
      z-index: 2
      &__hours, &__minutes, &__days
        display: flex
        flex-wrap: wrap
        max-width: 70px
        justify-content: center
        border-right: 1px solid rgba($white, .2)
        &-item
          max-width: 50%
          text-align: center
          color: $white
          font-size: 24px
          font-family: $font-exo2-black
        &-text
          width: 100%
          text-align: center
          opacity: .5
          color: $white
          font-size: 12px
          font-family: $font-exo2-reg
          text-transform: uppercase
      &__minutes
        border: none
    &-title
      color: $white
      font-size: 17px
      font-family: $font-exo2-ex-bold
      text-transform: uppercase
      max-width: 180px
      z-index: 2
  &__anim
    min-width: 128px
    max-width: 128px
    min-height: 128px
    max-height: 128px
    align-self: flex-end
    z-index: 2
    position: relative
    &-arrow, &-body
      width: 100%
      height: 100%
      position: absolute
      left: 0
      top: 0
    &-body
      background: url("../img/confirm/speedometer.png") no-repeat 0 0/contain
    &-arrow
      background: url("../img/confirm/arrow-speedometer.png") no-repeat 0 0/contain
      z-index: 2
      transform: rotate(0deg)
      animation: speedometer 5s ease infinite
  &__btn
    margin-top: 20px

.results
  position: relative
  display: flex
  flex-direction: column
  align-items: flex-start
  padding: 65px 0 20px 0
  &::before
    content: ""
    display: block
    top: 45px
    left: 0
    width: 100%
    height: 420px
    background: url("../img/results/results-decor-desc.png") no-repeat 0 0/cover
    background-size: 100% 100%
    position: absolute
    pointer-events: none
    @media screen and (max-width: 1050px)
      background: url("../img/results/results-decor-tab.png") no-repeat 0 0/cover
      background-size: 100% 50%

  &__first, &__second, &__third
    display: flex
    flex-direction: column
    align-items: center
  &__first
    max-width: 172px
    z-index: 3
    margin: 0 -16px 80px -43px
    position: relative
    &::before
      content: ""
      display: block
      width: 48px
      height: 48px
      position: absolute
      left: 60px
      top: 30px
      z-index: 4
      background: url("../img/results/crown.png") no-repeat 0 0/contain
      animation: shake .4s linear infinite
    .results
      &__top
        &-decor
          left: 53.5%
          top: -10px
        &-wrap
          top: -25px
          left: 5px
  &__second
    max-width: 183px
    z-index: 2
    margin: 0 -10px 20px 10px
    position: relative
    &::before
      content: ""
      display: block
      width: 38px
      height: 44px
      position: absolute
      right: 5px
      bottom: 145px
      z-index: 4
      background: url("../img/results/star.png") no-repeat 0 0/contain
      animation: shake .4s linear infinite
    .results
      &__top
        &-decor
          top: 12px
          left: 51%
        &-wrap
          top: 7px
  &__third
    max-width: 142px
    z-index: 2
    position: relative
    &::before
      content: ""
      display: block
      width: 62px
      height: 37px
      position: absolute
      left: -15px
      top: 20px
      z-index: 4
      background: url("../img/results/lightning.png") no-repeat 0 0/contain
      animation: shake .4s linear infinite
    .results
      &__top
        &-decor
          top: -6px
          left: 49%
        &-wrap
          top: -10px

  &__top
    position: absolute
    right: 65px
    top: 95px
    display: flex
    align-items: center
    &-place, &-info
      position: relative
      z-index: 2
    &-place
      width: 30px
      display: flex
      align-items: center
      justify-content: center
      color: $white
      font-family: $font-exo2-black
      font-size: 20px
      border-right: 1px solid rgba($white, .3)
      height: calc(100% - 2px)
      margin-right: 7px
      padding-left: 1px
    &-info
      display: flex
      flex-direction: column
      color: $white
      &-id, &-points
        font-size: 12px
        text-transform: uppercase
      &-id
        opacity: .5
      &-points
        font-family: $font-exo2-bold
    &-decor
      height: 300px
      width: 49px
      background: linear-gradient(180deg, #0000A7 0%, rgba(0, 0, 167, 0.00) 100%)
      //opacity: .7
      position: absolute
      left: 50%
      top: 0
      //transform: translate(-50%, 0)
      transform: translate(-50%, 20%)
      opacity: 0
      z-index: 0
      border-radius: 4px
      display: flex
      justify-content: center
      color: $blue
      font-size: 44px
      font-family: $font-exo2-black
      transition: all .7s ease-in-out
      &._show
        transform: translate(-50%, 0)
        opacity: .7

    &-pers
      position: relative
      z-index: 1
    &-wrap
      z-index: 2
      position: relative
      align-self: center
      transform: translate(0, -80%)
      opacity: 0
      width: 140px
      height: 40px
      border-radius: 5px
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%)
      display: flex
      align-items: center
      transition: all .7s ease-in-out
      &._show
        transform: translate(0, -100%)
        opacity: 1
      &::before
        content: ""
        display: block
        width: calc(100% - 2px)
        height: calc(100% - 2px)
        position: absolute
        left: 1px
        top: 1px
        z-index: 0
        border-radius: inherit
        background: #000094
  &__podium
    position: absolute
    bottom: 0
    left: 0
    width: 468px
    height: 107px
    z-index: 0
    &::before
      content: ""
      display: block
      width: 100%
      height: 100%
      position: absolute
      left: 0
      top: 0
      z-index: 2
      background: url("../img/results/podium-desc.png") no-repeat 0 0/contain
      @media screen and (max-width: 1050px)
        background: url("../img/results/podium-mob.png") no-repeat 0 0/contain
    &::after
      content: ""
      display: block
      z-index: 1
      position: absolute
      top: -140px
      left: 50%
      transform: translate(-50%, 0)
      width: 440px
      height: 270px
      background: url("../img/results/light.png") no-repeat 0 0/contain
  &__subtitle
    max-width: 375px
    color: $white
    font-size: 17px
    font-family: $font-exo2-reg
    margin-top: 19px
  &__popup
    display: flex
    align-items: center
    gap: 8px
    margin-top: 16px
    &-text
      color: $white
      font-family: $font-exo2-reg
      font-size: 14px
      text-transform: uppercase
      &:nth-child(2)
        position: relative
        opacity: .8
        bottom: 2px
        &::before
          content: ""
          display: block
          width: 100%
          height: 1px
          background: $white
          position: absolute
          left: 50%
          bottom: -1px
          transform: translate(-50%, 0)
  &__prize
    display: flex
    flex-direction: column
    align-items: flex-start
    padding: 12px 30px 5px 0
    background: url("../img/results/prize-decor.png") no-repeat 0 0/cover
    background-size: 100% 100%
    margin-top: 20px
    &-amount
      color: $magenta
      font-family: $font-exo2-ex-bold
      font-size: 28px
      text-transform: uppercase
      display: flex
      align-items: center
      margin-bottom: 4px
      &::after
        content: ""
        display: block
        width: .55em
        height: .78em
        background: url("../img/money-icon.png") no-repeat 0 0/contain
        margin: 3px 0 0 5px
    &-fond
      color: $magenta
      text-transform: uppercase
      font-family: $font-exo2-semib
      font-size: 17px
      letter-spacing: 0
  &__you
    margin-top: 23px
    display: flex
    align-items: center
    background: $magenta
    border-radius: 8px
    color: $white
    text-transform: uppercase
    padding: 0 0 0 15px
    max-height: 65px
    &-place
      font-size: 37px
      font-family: $font-exo2-ex-bold
      margin-right: 7px
    &-text
      font-size: 12px
      line-height: 14px
      max-width: 40px
      margin-right: 5px
    &-info
      display: flex
      align-items: flex-start
      flex-direction: column
      padding-left: 6px
      border-left: 1px solid rgba($white, .2)
      &-id
        font-size: 12px
      &-points
        font-family: $font-exo2-ex-bold
        font-size: 12px
    &-pers
      max-width: 118px
      align-self: flex-end
      margin: 0 -18px -3px 0
  &__btn
    margin-top: 20px
  &__bottom
    max-width: 352px
    color: $white
    font-size: 10px
    opacity: .7
    margin-top: 11px

.road
  min-width: 575px
  max-width: 575px
  height: 515px
  position: relative
  padding-top: 50px
  z-index: 0
  pointer-events: none
  &__bg
    position: absolute
    z-index: 0
    min-width: 925px
    max-width: 925px
    height: 675px
    left: 50%
    top: 50px
    transform: translate(-50%, -50%)


  &__car
    position: relative
    z-index: 1

.drop
  max-width: 515px
  min-width: 515px
  margin: auto
  z-index: 3
  padding: 10px 0
  .dropdown
    outline: none!important
    cursor: pointer
    position: relative
    width: 100%
    z-index: 1
    text-align: start
    summary::-webkit-details-marker
      display: none
    > summary
      list-style: none
    summary
      padding: 7px 16px
      font-size: 14px
      line-height: 14px
      letter-spacing: 1px
      width: 100%
      outline: none!important
      position: relative
      display: flex
      align-items: center
      user-select: none
      background: url("../img/drop-bg.png") no-repeat 0 0/cover
      background-size: 100% 100%
      //background: rgba($blue, .5)
      //border: 1px solid rgba($white, .1)
      border-radius: 10px
      color: $white
      ::-webkit-details-marker
        display: none
      &:after
        content: ''
        background: url("../img/drop-arrow.png") no-repeat 0 0/contain
        display: inline-block
        width: 24px
        height: 24px
        margin-left: auto
    &[open]
      summary
        &:after
          transform: rotate(180deg)
    .drop-txt
      margin-top: 5px
      overflow-wrap: break-word
      padding: 16px
      text-align: start
      cursor: auto
      border-radius: 8px
      border: 1px solid rgba($white, .2)
      background: rgba(0, 0, 61, 0.30)
      background-size: 100% 100%
      color: $white
      &-list
        max-height: 300px
        overflow-y: auto
        padding-right: 20px
        scrollbar-width: auto
        font-family: $font-suisse-intl-reg
        font-size: 14px
        line-height: 22px
        &._betStory
          padding: 0 5px 0 0
          max-height: 210px
        &::-webkit-scrollbar
          background: rgba($white, .3)
          width: 3px
          border-radius: 50px
        &::-webkit-scrollbar-thumb
          position: relative
          border-radius: 50px
          background: $green
      tr,td,th
        font-family: $font-suisse-intl-reg
        color: $white
      p, h2, h3, h4, h5, h6, strong, span
        margin-bottom: 10px
        font-family: $font-suisse-intl-reg
        display: block
        font-size: 16px
        line-height: 26px
        color: $white
        @media screen and (max-width: 600px)
          font-size: 13px
          line-height: 20px
        &:last-child
          margin-bottom: 0
        a
          color: $green
          text-decoration: underline
          font-family: $font-suisse-intl-reg
          position: relative
          &:hover
            text-decoration: none
      strong
        margin-bottom: 10px
        font-size: 16px
        font-family: $font-suisse-intl-reg
        color: $white
        display: block
      .retreat1
        padding-left: 20px
      .retreat2
        padding-left: 30px
      .circle
        padding-left: 20px
        &:before
          content: ''
          width: 4px
          height: 4px
          background: $white
          border-radius: 50%
          display: inline-block
          margin: 0 5px 3px 0
  &__header, &__row
    display: flex
    align-items: center
    justify-content: space-between
    padding: 7px 20px
    &-item
      width: 33%
      text-align: left
      &:nth-child(2)
        text-align:  center
      &:nth-child(3)
        text-align: right
  &__header
    opacity: .2
  &__row
    background: rgba(255, 255, 255, 0.05)
    margin-top: 2px
    border-radius: 8px


.popups
  position: fixed
  top: 0
  left: 0
  z-index: 5
  width: 100%
  height: 100%
  background: rgba(#000, .8)
  display: flex
  align-items: center
  justify-content: center
  transition: opacity .7s ease

  &__item
    opacity: 0
    position: absolute
    pointer-events: none
    width: 540px
    height: 300px
    display: flex
    align-items: flex-end
    justify-content: center
    flex-direction: column
    transition: opacity .7s ease
    &-body
      background: $white
      padding: 16px
      scrollbar-width: auto
      width: 100%
      max-height: 245px
      overflow-y: auto
      font-family: $font-exo2-reg
      font-size: 16px
      line-height: 25px
      color: $blue
      & > *
        font-family: inherit
      &::-webkit-scrollbar-thumb
        width: 2px
        background: $green
      &::-webkit-scrollbar
        background: rgba($green, .2)
        border-radius: 5px
        width: 2px
    &-close
      width: 24px
      height: 24px
      background: url("../img/close.png") no-repeat 0 0/contain
      margin-bottom: 5px
      &:hover
        cursor: pointer
  &._opacity
    pointer-events: none
  &._betPopup
    ._betPopup
      opacity: 1
      position: relative
      pointer-events: initial
  &._confirmPopup
    ._confirmPopup
      opacity: 1
      position: relative
      pointer-events: initial
  &._resultsPopup
    ._resultsPopup
      opacity: 1
      position: relative
      pointer-events: initial


// animations

@keyframes welcomeTitle
  0%
    opacity: 0
    transform: translate(-10px, 0)
  100%
    opacity: 1

@keyframes welcomePrize
  0%
    opacity: 0
    transform: translate(-70px, 0)
  100%
    opacity: 1

@keyframes welcomeBtn
  0%
    opacity: 0
    transform: translate(0, 20px)
  100%
    opacity: 1

@keyframes smokeRaceAnim
  0%
    scale: .4
    opacity: 0
  50%
    scale: 1.3
    opacity: 1
  100%
    scale: 1.5
    opacity: 0


@keyframes bolidFrontSmoke
  0%, 34%, 64%, 100%
    transform: scale(1)
    opacity: 1
  30%, 60%, 94%
    transform: scale(1.38)
    opacity: 1
  33%, 63%, 95%
    transform: scale(1.4)
    opacity: 0
  33.5%, 63.5%, 96%
    transform: scale(1)
    opacity: 0


//@keyframes bolidFrontSmoke
//  0%
//    scale: 1
//  30%
//    scale: 1.38
//    opacity: 1
//  33%
//    scale: 1.4
//    opacity: 0
//  33.5%
//    scale: 1
//    opacity: 0
//  34%
//    scale: 1
//    opacity: 1
//  60%
//    scale: 1.38
//    opacity: 1
//  63%
//    scale: 1.4
//    opacity: 0
//  63.5%
//    scale: 1
//    opacity: 0
//  64%
//    scale: 1
//    opacity: 1
//  94%
//    scale: 1.38
//    opacity: 1
//  94.5%
//    scale: 1
//    opacity: 0
//  95%
//    scale: 1.4
//    opacity: 0
//  96%
//    scale: 1
//    opacity: 0
//  100%
//    scale: 1
//    opacity: 1



@keyframes spinWheel
  0%, 100%
    background: url("../img/welcome/wheel/frame1.png") no-repeat 0 0/cover
    background-size: 100% 100%
  16.6%
    background: url("../img/welcome/wheel/frame2.png") no-repeat 0 0/cover
    background-size: 100% 100%
  33.2%
    background: url("../img/welcome/wheel/frame3.png") no-repeat 0 0/cover
    background-size: 100% 100%
  49.8%
    background: url("../img/welcome/wheel/frame4.png") no-repeat 0 0/cover
    background-size: 100% 100%
  66.4%
    background: url("../img/welcome/wheel/frame5.png") no-repeat 0 0/cover
    background-size: 100% 100%
  83%
    background: url("../img/welcome/wheel/frame6.png") no-repeat 0 0/cover
    background-size: 100% 100%


@keyframes rotate360
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(-360deg)

@keyframes speedometer
  0%, 100%
    transform: rotate(0deg)
  20%
    transform: rotate(44deg)
  40%
    transform: rotate(-33deg)
  55%
    transform: rotate(55deg)
  65%
    transform: rotate(39deg)
  75%
    transform: rotate(60deg)
  78%
    transform: rotate(57deg)
  81%
    transform: rotate(61deg)
  84%
    transform: rotate(57deg)
  87%
    transform: rotate(61deg)
  90%
    transform: rotate(57deg)
  93%
    transform: rotate(61deg)

@keyframes shake
  0%, 100%
    transform: translate(0, 0)
  25%
    transform: translate(-1px, 2px)
  50%
    transform: translate(1px, -2px)
  75%
    transform: translate(-1px, 2px)

@keyframes wheelAnim
  0%
    opacity: 1
  100%
    opacity: 0
    transform: translate(-5px, -9px)

@keyframes smokeAnim
  0%
    transform: scale(1)
    opacity: 1
  50%
    //transform: scale(1.5)
    opacity: 1
  75%
    opacity: 1
  80%
    transform: scale(1.5)
  85%
    opacity: 0
    transform: scale(1.5)
  100%
    transform: scale(1)
    opacity: 0

@keyframes smokeAnim2
  0%
    transform: scale(1.05)
    opacity: .5
  50%
    //transform: scale(1.5)
    opacity: 1
  75%
    opacity: 1
  80%
    transform: scale(1.5)
  85%
    opacity: 0
    transform: scale(1.5)
  100%
    transform: scale(1)
    opacity: 0


@keyframes bottomToTop
  0%
    transform: translate(-50%, 30%)
    opacity: 0
  100%
    transform: translate(-50%, 0)
    opacity: .7

.smokeAnim
  .front-before
    animation: smokeAnim 2.5s linear infinite
    z-index: 1
    opacity: 0
    transition: opacity .3s linear
  .front-after
    animation: smokeAnim2 2.5s linear infinite
    transition: opacity .3s linear
    z-index: 2
    opacity: 0
    animation-delay: 1.5s

.smokeScale
  &::before
    transition: all 1.8s linear
    scale: 1.45

.smokeOpacity
  &::before
    transition: all .4s linear
    opacity: 0
    scale: 1.55

.frontSmokeAfter
  &::before
    animation: frontSmokeBefore 2.3s linear
    opacity: 0


// en styles

.fav-page.en
  picture.light
    display: none

  picture.dark
    display: block

